
body {
   background-image: url("https://totalpng.com//public/uploads/preview/picsart-raksha-bandhan-editing-background-116586644927hsue6yufb.jpg") ; 
   background-size: cover;
   border:  5px 5px;

}
.abc {
   
    text-align:center;
}
p{
    text-align: center;
}
h1{
    text-align: center;
   color:blue;
   font-size:50px;
}
p {
    color:rgb(212, 30, 30);
    font-size:30px;
}
footer p {
    color: blue;
}

   


 